# python
**/__pycache__/

# latex
latex/**/*.aux
latex/**/*.bbl
latex/**/*.bcf
latex/**/*.blg
latex/**/*.fdb_latexmk
latex/**/*.fls
latex/**/*.log
latex/**/*.nav
latex/**/*.out
latex/**/*.xml
latex/**/*.snm
latex/**/*.gz
latex/**/*.toc

# datasets
src/data/**
src/data_train/**

src/ScholarCopilot/data/**
src/ScholarCopilot/model_*/**
src/ScholarCopilot/run_demo/.gradio/**

src/scholarcopilot_data/**
src/scholarcopilot_model_*/**
src/reasonir_8b/**
src/qwen2.5_7b_instruct/**

src/archive/ScholarCopilot_unmodified/data/**
src/archive/ScholarCopilot_unmodified/model_*/**
src/archive/ScholarCopilot_unmodified/run_demo/.gradio/**

