# python
**/__pycache__/

# latex
latex/**/*.aux
latex/**/*.bbl
latex/**/*.bcf
latex/**/*.blg
latex/**/*.fdb_latexmk
latex/**/*.fls
latex/**/*.log
latex/**/*.nav
latex/**/*.out
latex/**/*.xml
latex/**/*.snm
latex/**/*.gz
latex/**/*.toc

# datasets
src/data/**
src/ScholarCopilot/data/**
src/ScholarCopilot/model_*/**
src/ScholarCopilot/run_demo/.gradio/**

